#content {
    width: 1200px;
    margin: 0 auto;
    position: relative
}

#content .title_area h2 {
    font-family: 'Nanumgothic', serif;
    font-size: 60px;
    font-weight: 400;
    margin-top: 110px;
    text-align: center
}

#content .title_area .lineMap {
    position: absolute;
    left: 500px;
    top: 130px
}

#content .content_area .video_box {
    margin-top: 300px;
    margin-bottom: 100px;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
    width: 800px
}


#content .content_area .video_box {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin-left: 180px
}

#content .content_area .video_box p {
    display: none
}

#content .content_area .video_list {
    margin-bottom: 170px;
    overflow: hidden
}

#content .content_area .video_list h3 {
    padding: 10px
}

#content .content_area .video_list li {
    width: 300px;
    height: 420px;
    float: left;
    margin-right: 30px;
    margin-left: 50px;
    border: 1px solid #ccc;
    padding: 5px
        
}

#content .content_area .video_list li img {
    width: 300px
}

#content .content_area .video_list li p {
    font-family: 'dotum', serif;
    font-size: 18px;
    margin: 20px 0;
    font-weight: bold
}

#content .content_area .video_list li a p::after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background: #000;
    transition: all 1s;
    margin-top: 10px
}

#content .content_area .video_list li a:hover p::after {
    width: 200px
}

#content .content_area .video_list li dt {
    margin: 30px 0 15px 0;
    font-family: 'dotum', serif;
    font-size: 16px;
    text-align: justify
}

#content .content_area .video_list li dt:hover {
    color: #0d8299
}

#content .content_area .video_list li dd {
    line-height: 2em;
    font-family: 'dotum', serif;
    font-size: 14px;
    text-align: justify
}
