.visual {
    width: 2000px;
    height: 425px;
    top: 0;
    position: relative;
    left: 50%;
    margin-left: -1000px;
    overflow: hidden
}

.subnav_box {
    width: 1200px;
    margin: 0 auto;
    position: relative
}

.subnav_box .subNav ul {
    width: 1200px;
    margin: auto;
    background: #515352;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: -65px
}

.subnav_box .subNav ul li {
    width: 33.3%;
    float: left;
    text-align: center;
}

.subnav_box .subNav ul li a {
    font-family: 'Nanumgothic', serif;
    display: block;
    padding: 20px;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    letter-spacing: -1px
}

.subnav_box .subNav ul li a:hover {
    background: #1f7d5c;
    color: #fff;
    font-weight: 700;
    letter-spacing: -1px
}

.subnav_box .subNav ul li .current {
    background: #1f7d5c;
    color: #fff;
    font-weight: 700
}
