#content {
    width: 1200px;
    margin: 0 auto;
    position: relative
}

#content .title_area h2 {
    font-family: 'Nanumgothic', serif;
    font-size: 60px;
    font-weight: 400;
    margin-top: 110px;
    text-align: center
}

#content .title_area .lineMap {
    position: absolute;
    left: 500px;
    top: 130px
}

#content .content_area {
    position: relative
}

#content .content_area h3 {
    margin-top: 300px;
    font-family: 'Nanumgothic', serif;
    font-size: 30px;
    font-weight: normal;
    text-align: center
}

.navBox {
    display: none
}

.navBox ul {
    overflow: hidden;
}

.navBox ul li {
    float: left;
    width: 25%;
    text-align: center
}

.navBox ul li a {
    display: block;
    font-size: 20px;
    font-family: 'Nanumgothic', serif;
    background: #666;
    height: 50px;
    padding: 20px 0 0;
    color: #fff;
    transition: all .8s
}

.navBox {
    background: #ccc
}

.navOn {
    position: fixed;
    width: 2000px;
    z-index: 60;
    left: 0;
    top: 0;
    display: block
}

.navBox ul li a.spy {
    background: #1f7d5c;
    color: #fff
}




#content .content_area .history_1 {
    margin-top: 170px;
    position: relative
}

#content .content_area .history_1 h4 {
    margin-top: 40px;
    font-family: 'Nanumgothic', serif;
    font-size: 25px;
    font-weight: normal;
    margin-left: 15px
}

#content .content_area .history_1 ul h4::before {
    content: '';
    display: block;
    width: 30px;
    height: 10px;
    position: absolute;
    left: 0;
    top: -5px;
    background: #0d8299
}

#content .content_area .history_1 li img {
    margin: 50px 100px
}

#content .content_area .history_1 li p {
    font-family: 'dotum', serif;
    font-size: 18px;
    color: #666;
    line-height: 2em;
    text-align: justify;
    margin-top: 25px
}

#content .content_area section:nth-of-type(1) .history_1 {
    border-top: 1px solid #ccc
}


#content .content_area section:nth-of-type(2) ul {
    position: relative;
    border-top: 1px solid #ccc;
    margin-top: 170px
}

#content .content_area .history_1 ul:nth-of-type(2) li h4::before {
    content: '';
    display: block;
    width: 30px;
    height: 10px;
    position: absolute;
    left: 0;
    top: -5px;
    background: #0d8299
}

#content .content_area section:nth-of-type(3) ul {
    position: relative;
    border-top: 1px solid #ccc;
    margin-top: 170px;
    margin-bottom: 170px
}

#content .content_area section:nth-of-type(3) ul li h4::before {
    content: '';
    display: block;
    width: 30px;
    height: 10px;
    position: absolute;
    left: 0;
    top: -5px;
    background: #0d8299
}

#content .content_area section:nth-of-type(4) ul {
    position: relative;
    border-top: 1px solid #ccc;
    margin-top: 170px;
    margin-bottom: 170px
}

#content .content_area section:nth-of-type(4) ul li h4::before {
    content: '';
    display: block;
    width: 30px;
    height: 10px;
    position: absolute;
    left: 0;
    top: -5px;
    background: #0d8299
}
