body{height: 100%}
#wrap{height: 100%; overflow: hidden;position: relative}

#clo2{}
.background img{
   position:fixed;
   left:50%;
   top:50%; 
    width: auto;
    min-width:100%;
    height:auto;
   min-height:100%;
    transform:translateX(-50%) translateY(-50%);
   opacity: .9;
    z-index: -10
}

h2 a{display: block; margin: 50px 100px}

form{
    width: 500px; height: 500px;
    border: 2px solid #ccc;
    border-radius: 15px;
    margin: 100px auto;
    background: rgba(255,255,255,.8)
}

form ul{overflow: hidden}

form ul li p{font-family: 'roboto',sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 50px
}

form ul li:nth-of-type(2) input{margin-top: 50px}

form ul li input{width: 300px; height: 50px;
            border: 1px solid #ccc;
            margin:10px 100px;
           
}

form ul #login_button input{
    display: block;
    width: 200px;height: 40px;
    background: #1f7d5c;
    color: #fff;
    cursor:pointer;
    margin: 50px auto;
    text-align: center;
    border: none; 
    
}

form ul li a{
    display: block;
    width: 200px;height: 30px;
    background: #1f7d5c;
    color: #fff;
    padding-top: 10px;
    margin: 20px auto;
    text-align: center;
    
}

form ul li a span{font-size: 15px;font-family: 'Nanumgothic',sans-serif}

form ul li a{margin-top: -35px;background: #0d8299}
