#content {
    width: 1200px;
    margin: 0 auto;
    position: relative
}

#content .title_area h2 {
    font-family: 'Nanumgothic', serif;
    font-size: 60px;
    font-weight: 400;
    margin-top: 110px;
    margin-left: 400px
}

#content .title_area .lineMap {
    position: absolute;
    left: 500px;
    top: 130px
}

#content .content_area {
    position: relative
}

#content .content_area h3 {
    font-family: 'Nanumgothic', serif;
    font-size: 30px;
    font-weight: normal;
    margin-top: 170px;
    margin-left: 25px
}

#content .content_area h3::before {
    content: "";
    display: block;
    width: 5px;
    height: 20px;
    background: #1f7d5c;
    position: absolute;
    left: 15px;
    top: 1410px
}


#content .content_area ul li img {
    width: 1200px;
    margin-top: 300px
}

#content .content_area li dl {
    margin-top: 60px
}

#content .content_area li dl dt {
    font-family: 'Nanumgothic', serif;
    font-size: 25px;
    font-weight: 700
}

#content .content_area li dd {
    font-family: 'dotum', serif;
    font-size: 18px;
    line-height: 2em;
    margin-top: 30px
}

#content .content_area div:nth-of-type(1) {
    margin-top: 50px;
    margin-bottom: 100px;
    overflow: hidden;
    padding: 20px;
    width: 1130px;
    margin-left: 50px;
    overflow: hidden
}

#content .content_area div img {
    float: left;
    display: none
}

#content .content_area div ul {
    float: left;
    width: 210px;
    height: 581px;
    border: 1px solid #ccc;
    border-radius: 0 20px 20px 0;
    background: #fafafa;
    position: relative
}

#content .content_area div ul li:first-child {
    margin-top: 50px;
}

#content .content_area div ul li {
    height: 65px
}

#content .content_area div ul li::before {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    transform: rotate(45deg);
    margin-left: -5px;
    margin-top: 15px
}

#content .content_area div ul li i {
    margin-right: 20px;
    color: #999;
    opacity: .6
}

#content .content_area div ul li a {
    display: block;
    font-size: 20px;
    font-family: 'Nanumgothic', serif;
    text-align: center
}

#content .content_area div ul li .on i {
    color: #0d8299
}







#content .content_area div:nth-of-type(2) {
    border: none;
    margin-bottom: 170px
}

#content .content_area div:nth-of-type(2) table {
    border: 1px solid #ccc;
    width: 1150px
}

#content .content_area div:nth-of-type(2) table th {
    width: auto;
    border: 1px solid #ccc;
    font-family: 'Nanumgothic', serif;
    font-size: 20px;
    padding: 20px;
    background: #0d8299;
    color: #fff;
    font-weight: 400;
    font-weight: 700
}

#content .content_area div:nth-of-type(2) table td {
    font-family: 'dotum', serif;
    font-size: 16px;
    border: 1px solid #ccc;
    text-align: justify;
    line-height: 2em;
    padding: 20px
}

#content .content_area div:nth-of-type(2) table td:nth-child(3) {
    width: 65%
}

#content .content_area div:nth-of-type(2) table td:nth-child(-n+2) {
    text-align: center
}
