@charset "utf-8";

/* CSS Reset */

html, body, div , span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin: 0; padding: 0; border: 0; font-size: 100%}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{display: block}
body{font-family: "돋움", Dotum,"굴림",Gulim, sans-serif; font-size: 14px;
  color: #333}
ol, ul{list-style: none}
table{border-collapse: collapse; border-spacing:0}
address{font-style: normal}
a{color: #333; text-decoration: none}
img{border: 0; vertical-align: top}

.hidden{display: block; position: absolute;
 left: -1000%; width: 1px; height: 1px;
  overflow: hidden; color: #fff}

#skipNav{position:relative; z-index: 30;width:100%;overflow:hidden;}
#skipNav a{display:block; height:1px; margin-bottom:-1px;
      overflow:hidden; text-align:center;font-size:16px;}
#skipNav a:hover,#skipNav a:focus,#skipNav a:active{
     height:auto;padding:10px 0; background:#f2f2f2;}



/*
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;
*/

/* 헤더공통영역 */
#wrap{width: 100% ;position: relative; overflow: hidden}
#headerArea{background: rgba(255,255,255, .5); position: fixed; left: 0; top:0; z-index:10; width: 100% }


#headerArea .header_inner{width: 1200px ; margin: 0 auto; overflow: hidden}
#headerArea .logo{ float: left; margin: 27px 0 0 60px }
#headerArea .logo a{display: block; width:158px; height: 66px; background: url(../images/logo.png); text-indent: -999px; overflow: hidden }

#headerArea .nav_box{width: 966px; float: right}
#headerArea .nav_box .top_menu{overflow: hidden; font-family: Arial; font-weight: 400;font-size: 16px}
#headerArea .nav_box .top_menu ul{float: right; margin: 17px 73px 15px 0}
#headerArea .nav_box .top_menu ul li{float: left; margin-right: 20px}
#headerArea .nav_box .top_menu ul li:first-child{position: relative}
#headerArea .nav_box .top_menu ul li:first-child::before{content:'';display: block;width: 12px; height: 13px;
    background: url(../images/login_img.png); position:absolute;top: 2px;left: -18px;}
#headerArea .nav_box .top_menu ul li:last-child{margin-right: 0}


#headerArea .nav_box #gnb{overflow: hidden;font-family: 'Nanum Gothic', sans-serif;
font-size: 20px; font-weight: 700}
#headerArea .nav_box #gnb ul{overflow: hidden; margin: 20px 0 35px 70px}
#headerArea .nav_box #gnb li{float: left; margin-right: 60px }
#headerArea .nav_box #gnb li:last-child{margin-right: 0}

/* 푸터공통영역 */
#footerArea{ background: #333;overflow: hidden}
#footerArea .footer_inner{width: 1200px;margin: 0 auto;}
#footerArea .logo_black img{margin-left: 35px; margin-top: 45px;
                         margin-right: 25px;float: left}

#footerArea .footer_inform{overflow: hidden; margin-top: 15px }
#footerArea .footer_inform li{float: left; margin-right:20px; margin-top:10px ;
    font-family:'dotum',serif; font-size: 16px}

#footerArea .footer_inform li a{color: #fff}
#footerArea .address{font-family:'dotum',serif; 
                          font-size: 14px; color: #fff; clear: both;
 margin:65px 0 10px 185px}
#footerArea p{clear: both; color: #fff;margin-left: 185px; margin-bottom: 80px}
#footerArea .family_site{float: right; width:160px; height: 15px;
                      margin-top: -160px; background: #fff; position: relative}
#footerArea .family_site .family_write{font-family: 'Arial',serif; font-size: 12px; color: #000; position: absolute; left:-170px ; top: 1px }























