#content {
    width: 1200px;
    margin: 0 auto;
    position: relative
}

#content .title_area {}

#content .title_area h2 {
    font-family: 'Nanumgothic', serif;
    font-size: 60px;
    font-weight: 400;
    margin-top: 110px;
    margin-left: 450px;
    margin-bottom: 200px
}

#content .title_area .lineMap {
    position: absolute;
    left: 480px;
    top: 130px
}

#content .content_area div {
    position: relative
}

#content .content_area h3 {
    font-family: 'Nanumgothic', serif;
    font-weight: normal;
    font-size: 30px;
    margin: 170px 0 20px 65px
}

#content .content_area h3::before {
    content: "";
    display: block;
    width: 5px;
    height: 20px;
    background: #1f7d5c;
    position: absolute;
    left: 55px;
    top: 0
}


#content .content_area div table {
    margin: auto;
    width: 900px
}

#content .content_area div tr th {
    width: auto;
    border: 1px solid #ccc;
    font-family: 'Nanumgothic', serif;
    font-size: 20px;
    padding: 20px;
    background: #0d8299;
    color: #fff;
    font-weight: 400;
    font-weight: 700
}

#content .content_area div tr td {
    width: auto;
    font-family: 'Nanumgothic', serif;
    font-size: 16px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 2em;
    padding: 20px
}

#content .content_area div tr td:nth-of-type(3) {
    text-align: justify;
    padding-left: 50px
}


#content .content_area div:nth-of-type(2) {
    margin-top: 100px;
    margin-left: 150px;
    width: 900px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #ccc
}

#content .content_area div p::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: #000;
    position: absolute;
    margin-top: 5px;
    margin-left: -10px
}

#content .content_area div:nth-of-type(2) p {
    font-family: 'dotum', serif;
    font-size: 14px;
    margin-left: 70px;
    line-height: 1.5em;
    float: left;
    width: 450px;
    margin-top: 10px
}

#content .content_area div:nth-of-type(2) p:nth-of-type(1) {
    margin-top: 50px
}

#content .content_area div img {
    width: 300px;
    height: 300px;
    float: left
}

#content .content_area div img:nth-of-type(2) {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100px;
    top: 100px
}

#content .content_area div p:nth-of-type(1) span:nth-of-type(1) {
    color: #f00
}

#content .content_area div p:nth-of-type(1) span:nth-child(n+3):nth-child(-n+4) {
    font-weight: bold;
    color: #0d8299
}

#content .content_area div p:nth-of-type(3) span {
    font-weight: bold;
    color: #0d8299
}

#content .content_area .month_parking {
    margin-top: 0;
    position: relative
}

#content .content_area .month_parking h3 {
    font-family: 'Nanumgothic', serif;
    font-weight: normal;
    font-size: 30px;
    margin: 170px 0 20px 65px
}

#content .content_area .month_parking > h3::before {
    content: "";
    display: block;
    width: 5px;
    height: 20px;
    background: #1f7d5c;
    position: absolute;
    left: 55px;
    top: 0
}

#content .content_area .month_parking > table {
    margin-bottom: 30px
}

#content .content_area .month_parking > table td:nth-of-type(3) {
    text-align: center;
    padding: 0
}

#content .content_area .month_parking p {
    margin-left: 160px;
    margin-top: 15px
}


#content .content_area .parking_inform {
    margin-bottom: 170px;
    margin-top: 0;
    overflow: hidden
}

#content .content_area .parking_inform h3 {
    font-family: 'Nanumgothic', serif;
    font-weight: normal;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 65px
}

#content .content_area .parking_inform h3::before {
    content: "";
    display: block;
    width: 5px;
    height: 20px;
    background: #1f7d5c;
    position: absolute;
    left: 55px;
    top: 170px
}



#content .content_area .parking_inform > img {
    width: 830px;
    height: 583px;
    margin-top: 20px;
    margin-left: 200px
}

#content .content_area .parking_inform .tooltip_title {
    position: relative;
    cursor: pointer
}

#content .content_area .parking_inform .tooltip_title li {
    position: absolute
}

#content .content_area .parking_inform .tooltip_title li i {
    color: #f00;
    font-size: 50px
}

#content .content_area .parking_inform .tooltip_title li:nth-of-type(1) {
    left: 630px;
    top: 100px
}

#content .content_area .parking_inform .tooltip_title li:nth-of-type(2) {
    left: 790px;
    top: 200px
}

#content .content_area .parking_inform .tooltip_title li:nth-of-type(3) {
    right: 400px;
    top: 330px
}

#content .content_area .parking_inform .tooltip_title li:nth-of-type(4) {
    right: 470px;
    top: 390px
}

#content .content_area .parking_inform .tooltip {
    width: 300px;
    height: 200px;
    position: absolute;
    border: 3px solid #000;
    background: #fff;
    margin: 0;
    border-radius: 15px;
    opacity: 0
}

#content .content_area .parking_inform .tooltip li {
    font-family: 'dotum', serif;
    font-size: 14px;
    line-height: 2em;
    padding-left: 5px;
    padding-top: 5px;
}

#content .content_area .parking_inform .tooltip:after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 10px solid #000;
    transform: rotate(45deg);
    margin-left: 20px
}

#content .content_area .parking_inform .tooltip:nth-of-type(2):after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 10px solid #000;
    transform: rotate(45deg);
    margin-left: 275px;
    z-index: 20
}

#content .content_area .parking_inform .tooltip:nth-of-type(3):after {
    content: "";
    display: block;
    width: 10px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: rotate(360deg);
    margin-left: -21px;
    margin-top: -25px
}

#content .content_area .parking_inform .tooltip:nth-of-type(4):after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 10px solid #000;
    transform: rotate(45deg);
    margin-left: 275px
}

#content .content_area .parking_inform .tool1 {
    left: 620px;
    top: 100px
}

#content .content_area .parking_inform .tool2 {
    right: -300px;
    top: 215px
}

#content .content_area .parking_inform .tool3 {
    right: -300px;
    top: 400px
}

#content .content_area .parking_inform .tool4 {
    left: 300px;
    top: 400px
}
